[Unit]
Description=PgBackRest Backup Job For Stanza {{ stanza_name }} repo {{ repo }} [{{ backup_type }}]

[Timer]
{% if onstartupsec is not defined %}
OnStartupSec={{ onstartupsec }}
{% else %}
OnCalendar={{ oncalendar }}
{% endif %}
Persistent=true
RandomizedDelaySec={{ pgbackrest_timer_random_delay }}

[Install]
WantedBy=timers.target
