projects = {
  project-name = {
    rbac = [
      {
        team_name  = "developers"
        role_names = ["GROUP_DATA_ACCESS_READ_ONLY"]
      }
    ]
  }
}

clusters = [
  {
    name = "cluster-name",
    project_name = "project-name"
    region_name = "REGION"
    provider_name = "AWS"
    provider_instance = "M0"
  }
]
teams = {
 developers = {
    users = ["example@example.com"]
  }
}