---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: "Ansible"
on:
  pull_request:
    paths:
      - ansible/**

jobs:
  lint:
    defaults:
      run:
        working-directory: ./ansible
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: Install yamllint
        run: pip install yamllint ansible-lint

      - name: Yamllint
        run: yamllint . -c .yamllint.yml

      - name: Ansible Lint
        run: ansible-lint .

  validate-playbooks:
    defaults:
      run:
        working-directory: ./ansible
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        playbook: ["postgres"]
    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: Install Ansible
        run: pip install ansible molecule molecule-plugins[docker]

      - name: Syntax check playbook ${{ matrix.playbook }}
        run: ansible-playbook --syntax-check ./${{ matrix.playbook }}.yml -i ./inventories/main.yaml

      - name: Molecule tests
        run: molecule test
