---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: "Opentofu"
on:
  pull_request:
    paths:
      - opentofu/**

jobs:
  tf:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Setup TF
        uses: opentofu/setup-opentofu@000eeb8522f0572907c393e8151076c205fdba1b # v1
        with:
          tofu_wrapper: false

      - name: Tofu fmt
        id: fmt
        working-directory: opentofu
        run: tofu fmt -check
        continue-on-error: false

      - name: Tofu Init
        id: init
        working-directory: opentofu
        run: |
          tofu init -backend=false -upgrade

      - name: Tofu Validate
        id: validate
        working-directory: opentofu
        run: tofu validate -no-color
